:root {
  --dark-color: #1d2c35;
  --medium-color: #2e4f61;
  --ligth-color: #d9d9d9;
  --text-color: #000000;
  --top-maring: 150px;
}

html {
  height: 100vh;
  width: 100%;
}

body {
  height: 100%;
}

section {
  margin-top: var(--top-maring);
}
